#selectorBar{
    display: none;
    cursor: all-scroll;
    position: fixed;
    z-index: 10;
    width: 10vw;
    right: 0vw;
    top: 100px;
    overflow-x: hidden;
    height: 100vh;
    background-color: rgba(17, 17, 17,0.7);
    overflow-y: auto;
    cursor: pointer;

  }
  #closeButton{
    width: 0px;
    height: 0px;
    background-color: rgba(17, 17, 17,0);
    color: white;
    position: relative;
    transform: translate(20%);
  }
  #download{
    width: -200px;
    height: -200px;
    left: -100px;
    position: relative;
    transform: translate(160px);
  }