#selectorBar{
    display: none;
    cursor: all-scroll;
    position: fixed;
    z-index: 10;
    width: 150px;
    left: 88%;
    top: 90px;
    overflow:inherit;
    height: 100%;
    background-color: rgba(17, 17, 17,0.7);
    overflow-y: auto;
    cursor: pointer;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
    gap: 5px;

  }
  #divBotoesFeW{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px ;
    width: 100%;
  
  }
  #closeButton{
    width: 70px;
    height: 25px;
    background-color: rgba(17, 17, 17,0);
    color: white;
    position: relative;
    transform: translate(1%);
   
  }
  #download{
    width: -200px;
    height: -200px;
    left: -130px;
    position: relative;
    transform: translate(160px);
  }