@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


:root {
  --magnifier: 2;
  --gap: 2px;
  --transition: 0.5s;

}

#header{
  height: 50px;
  width: 100vw;
  background-color: #7B9898;
  border-radius: 4px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

#logo{
  filter: blur(0);
  height: 250px;
  width: 250px;
  position: relative;
  bottom: 50px;
}
#github{
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: 90vw;
  filter: blur(0);
  bottom: 220px;
  left: 2vw;
}

#line{
  position: relative;
  height: 2px;
  width: 70%;
  bottom: -200px;
  background-color: white;
}

.vollkorn-title{
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: unset;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;

}
#bodyIndex {
  --token-a:rgb(17,17,17);
  --token-b: rgb(0,0,0);
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: radial-gradient(50% 50% at 50% 0%,var(--token-a, #111111) 0%,var(--token-b, rgb(0, 0, 0)) 100%);
  font-family: "Vollkorn",Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}



#container {
  width: 80vw;
  height: 80vmin;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;

}

img {
  --brightness: 1;
  --grayscale: 0.8;
  --blur: 1.1px;
  transition: flex var(--transition),  filter var(--transition);
  height: 100%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness)) blur(var(--blur));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
  opacity: 1;
  cursor:pointer;
  
}

.animal-text, .sports-text,
.technology-text,.house-text,
.urban-text,.cars-text
,.comidas-text{
  opacity: var(--opacity);
  position: absolute;
  bottom: 0;
  --left:0px;
  left: 0;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  --opacity:0;
  pointer-events: none;
  background-color: rgba(0, 0, 0,0.7);
  transition: 1s;
  width: 25%;
  text-align: center;
  cursor: none;
}

.animal-text{
  left:0;
  width: 25%;
}

.sports-text{
  left: 12%;
  width: 24.6%;
}

.technology-text{
  left: 25%;
  width: 23%;
}

.comidas-text{
  left: 37.5%;
  width: 23.1%;
}

.house-text{
  left: 50%;
  width: 23%;
}

.urban-text{
  left: 62%;
  width: 25%;
  text-align: center;
}

.cars-text{ 
  left: 75%;
  width: 23%;
}

img:hover{
  --brightness: 1.15;
  --grayscale: 0;
  flex: var(--magnifier);
  --left:40px;
  --value: -1;
  --blur: 0;
}

img:hover + .animal-text,
img:hover + .sports-text,
img:hover + .technology-text,
img:hover + .comidas-text,
img:hover + .house-text,
img:hover + .urban-text,
img:hover + .cars-text {
  --opacity: 1;
}
form{
  position: relative;
}
#side-text{
  position: absolute;
  transform: translate(39vw, -12vh);
  font-size: 40px;
}

label{
  font-weight: bolder;
  font-family: 'VOllkorn', Helvetica, sans-serif;
  font-size: 50px;
  color: white;
  transform: translate(15vw, -8vh);
  position: absolute;
}
.line-column{
  position: relative;
  transform: translate(-13vw, 35vh);
  width: 2px;
  height: 100px;
  background-color: white;

}

.submit{
  background: #131212;
	padding: 10px;
	border: none;
	width: 130px;
	height: 60px;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	box-shadow: 0 4px 20px rgb(39, 39, 43);
  transform: translate(32vw, 19vh);
  cursor: pointer;
}

.submit:hover{
  background-color: #000000;
}
#mail{
  width: 500px;
  height: 50px;
  position: relative;
  transform: translate(30vw, 20vh);
  font-size: 24px;
  color: #000000;
  padding-left: 10px;
}

footer{
  height: 300px;
  margin-top: 200px;
  background-color: black;
  width: 100vw;
}



